<header>
  <mat-toolbar color="primary">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']">
        <span class="title">PokeApp</span>
      </a>
      
      <form class="form-inline">
        <button mat-icon-button aria-label="Clique para Pesquisar um Pokemon" (click)="toggleSearch()" *ngIf="!showSearchInput">
          <mat-icon>search</mat-icon>
        </button>
        <input #inputDaBusca (input)="0" class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search" [hidden]="!showSearchInput">
      </form>
    </div>

  </mat-toolbar>
</header>

<!-- <div class="row mt-3">
    <div class="input-group col-12">
        <select class="custom-select col-3 mb-3" id="inputGroupSelect04" [(ngModel)]="pokemonsPorPagina">
          <option selected disabled>Pokemons por Página</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary mb-3" type="button" (click)="setPokemonsPorPagina()">Aplicar</button>
        </div>
      </div>
  </div> -->
<div class="container d-flex justify-content-center mt-3">
  <div class="row col-12" (window:scroll)="onScroll()">
      <pokemon class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-6" *ngFor="let item of pokemons | filtraPorNome: inputDaBusca.value" [name]="item.name" [url]="item.url" [routerLink]="['/detalhes', item.name, item.url]">      
      
        </pokemon>
  </div>
</div>
