<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']" class="navbar-brand d-flex align-items-center">
        <strong>Pokedex</strong>
      </a>
      <form class="form-inline">
        <input #inputDaBusca (input)="0" class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-ligth my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>

  </div>
</header>

<!-- <div class="row mt-3">
    <div class="input-group col-12">
        <select class="custom-select col-3 mb-3" id="inputGroupSelect04" [(ngModel)]="pokemonsPorPagina">
          <option selected disabled>Pokemons por Página</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary mb-3" type="button" (click)="setPokemonsPorPagina()">Aplicar</button>
        </div>
      </div>
  </div> -->
<div class="row mt-3">
  <pokemon class="col-4" *ngFor="let item of pokemons | filtraPorNome: inputDaBusca.value" [name]="item.name" [url]="item.url">

    <a class="btn btn-outline-dark" role="button" [routerLink]="['/detalhes', item.name, item.url]">Detalhes</a>


  </pokemon>
</div>
<div class="row">
  <nav class="col-12">
    <ul class="pagination justify-content-end mr-3">
      <li class="page-item">
        <button class="page-link text-dark" [disabled]="!anterior" (click)="paginaAnterior()" tabindex="-1">Anterior</button>
      </li>
      <li class="page-item" *ngFor="let item of paginas">
        <button class="page-link text-dark" (click)="irPara(item)">{{item}}</button>
      </li>
      <li class="page-item">
        <button class="page-link text-dark" [disabled]="!proximo" (click)="proximaPagina()">Próximo</button>
      </li>
    </ul>
  </nav>
</div>